/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Devices */
/* line 9, ../sass/screen.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 12, ../sass/screen.scss */
html {
  scroll-behavior: smooth;
}

/* Works on Firefox */
/* line 16, ../sass/screen.scss */
* {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #E0AE46 #ffffff;
}

/* Works on Chrome, Edge, and Safari */
/* line 22, ../sass/screen.scss */
*::-webkit-scrollbar {
  width: 0.6rem;
}

/* line 26, ../sass/screen.scss */
*::-webkit-scrollbar-track {
  background: #ffffff;
}

/* line 30, ../sass/screen.scss */
*::-webkit-scrollbar-thumb {
  background-color: #E0AE46;
  border-radius: 2rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
}

/* line 35, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 38, ../sass/screen.scss */
body {
  font-size: 1.6rem;
  color: #444444;
  font-family: "Poppins";
}

/* line 43, ../sass/screen.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 47, ../sass/screen.scss */
h1, h2, h3 {
  font-family: "lobster two";
}

/* line 50, ../sass/screen.scss */
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  min-width: 36rem;
}

/* line 58, ../sass/screen.scss */
header {
  padding: 3rem 0;
  height: 100%;
  width: 5rem;
  background: #585CD3;
  position: fixed;
  right: -5.4rem;
  box-shadow: 0 0.2rem 0.4rem black;
  transition: right 0.3s ease-in-out;
}
/* line 68, ../sass/screen.scss */
header.active {
  right: 0;
}
/* line 71, ../sass/screen.scss */
header.active .menulink {
  opacity: 1;
}

/* line 76, ../sass/screen.scss */
.header {
  width: 100%;
  display: flex;
  gap: 26rem;
  align-items: center;
  flex-direction: column;
}

/* line 84, ../sass/screen.scss */
.menuburger {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.6);
  background: #585CD3;
  position: fixed;
  top: 3rem;
  right: 0.8rem;
  cursor: pointer;
  transition: position 0.3s ease-in-out;
}
/* line 100, ../sass/screen.scss */
.menuburger.active {
  position: static;
  top: 0;
  right: 0;
}

/* line 106, ../sass/screen.scss */
.menu {
  padding: 0.5rem;
  width: 2.4rem;
  height: 2.1rem;
  position: relative;
}

/* line 112, ../sass/screen.scss */
.menu-ligne {
  width: 100%;
  height: 0.3rem;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* line 120, ../sass/screen.scss */
.menu-ligne:nth-child(1) {
  top: 0;
}

/* line 123, ../sass/screen.scss */
.menu-ligne:nth-child(2) {
  top: 0.7rem;
}

/* line 126, ../sass/screen.scss */
.menu-ligne:nth-child(3) {
  top: 1.4rem;
}

/* line 129, ../sass/screen.scss */
.menulink {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  letter-spacing: 0.1rem;
  transform: rotate(90deg);
  color: #ffffff;
  font-size: 1.8rem;
  opacity: 0;
}
/* line 138, ../sass/screen.scss */
.menulink li {
  padding: 0.5rem 0;
}
/* line 142, ../sass/screen.scss */
.menulink li.active {
  border-bottom: 0.5rem solid #E0AE46;
}

/* line 147, ../sass/screen.scss */
.main {
  padding: 3rem 1rem 3rem 3rem;
  transition: all 0.3s ease-in-out;
}
/* line 151, ../sass/screen.scss */
.main.active {
  padding-right: 8rem;
}
/* line 154, ../sass/screen.scss */
.main.active h1 {
  font-size: 4.2rem;
}
/* line 157, ../sass/screen.scss */
.main.active h1 + span {
  font-size: 2rem;
}

/* line 165, ../sass/screen.scss */
.logo {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0.1rem solid;
  background: #E0AE46;
  color: #ffffff;
  font-weight: bold;
}

/* line 178, ../sass/screen.scss */
.maincenter {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
}

/* line 183, ../sass/screen.scss */
.maincenter-left img {
  width: 100%;
}

/* line 186, ../sass/screen.scss */
.maincenter-right {
  padding-top: 6rem;
}

/* line 189, ../sass/screen.scss */
.maincenter-right h1 {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #585CD3;
}

/* line 196, ../sass/screen.scss */
.maincenter-right h1 span {
  color: #E0AE46;
}

/* line 200, ../sass/screen.scss */
.maincenter-right h1 + span {
  font-size: 2.4rem;
  margin-left: 1rem;
}

/* line 204, ../sass/screen.scss */
.description {
  width: 100%;
  padding: 0 1rem;
  line-height: 2;
  font-size: 1.6rem;
  margin-top: 4rem;
}

/* line 211, ../sass/screen.scss */
.medias-sociaux {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  margin-top: 3rem;
  font-size: 1.8rem;
}
/* line 217, ../sass/screen.scss */
.medias-sociaux a {
  padding: 0.75rem;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #232554;
  transition: all 0.3s ease-in-out;
}
/* line 230, ../sass/screen.scss */
.medias-sociaux a:hover {
  background: #585CD3;
  color: #ffffff;
}

/* Section Competences */
/* line 237, ../sass/screen.scss */
.main-competences {
  background: #fdfdfd;
}

/* line 240, ../sass/screen.scss */
.competences {
  padding: 3rem;
}
/* line 243, ../sass/screen.scss */
.competences h2 {
  font-size: 4.8rem;
  color: #585CD3;
  margin-bottom: 6rem;
}

/* line 249, ../sass/screen.scss */
.competences-left {
  margin-bottom: 3rem;
}
/* line 251, ../sass/screen.scss */
.competences-left p {
  line-height: 2;
}

/* Box competences */
/* line 256, ../sass/screen.scss */
.main-competences {
  transition: all 0.3s ease-in-out;
}
/* line 258, ../sass/screen.scss */
.main-competences.active {
  padding-right: 8rem;
}

/* line 262, ../sass/screen.scss */
.competences-group-box-competence {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.05);
  background: #ffffff;
  padding: 2rem 1rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
/* line 269, ../sass/screen.scss */
.competences-group-box-competence strong {
  font-size: 2rem;
  font-weight: normal;
  color: #232554;
  font-weight: 500;
  margin-top: 3rem;
  display: block;
}
/* line 278, ../sass/screen.scss */
.competences-group-box-competence p {
  margin-top: 2rem;
  line-height: 1.5;
}

/* line 283, ../sass/screen.scss */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

/* line 289, ../sass/screen.scss */
.technologies {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* line 300, ../sass/screen.scss */
.technologies {
  color: #ffffff;
}

/* line 308, ../sass/screen.scss */
.technologies-xd,
.technologies-wordpress,
.technologies-html,
.technologies-js,
.technologies-ajax,
.technologies-tailwind,
.technologies-sass {
  background: #ffffff;
  color: #585CD3;
}

/* line 320, ../sass/screen.scss */
.technologies-css,
.technologies-bootstrap,
.technologies-figma,
.technologies-laravel,
.technologies-jquery,
.technologies-joomla {
  background: #E0AE46;
}

/* line 328, ../sass/screen.scss */
.rocket {
  display: none;
}

/** Pour les ecrans de taille minimale 576px */
@media screen and (min-width: 576px) {
  /* line 333, ../sass/screen.scss */
  .menuburger {
    background: transparent;
    position: static;
    top: 0;
    right: 0;
  }

  /* line 339, ../sass/screen.scss */
  header {
    right: 0;
  }

  /* line 342, ../sass/screen.scss */
  .menulink {
    opacity: 1;
  }

  /* line 345, ../sass/screen.scss */
  .main,
  .competences {
    padding-right: 8rem;
  }

  /* line 349, ../sass/screen.scss */
  .maincenter-right h1 {
    font-size: 7.2rem;
  }

  /* line 352, ../sass/screen.scss */
  .maincenter-right h1 + span {
    font-size: 3.2rem;
    margin-left: 1.5rem;
  }

  /* line 356, ../sass/screen.scss */
  .description {
    font-size: 1.8rem;
  }
}
/** Pour les ecrans de taille minimale 576px */
@media screen and (min-width: 768px) {
  /* line 362, ../sass/screen.scss */
  .competences-right {
    display: flex;
    gap: 0.9rem;
  }
  /* line 363, ../sass/screen.scss */
  .competences-right .competences-group-box-competence {
    height: 28rem;
  }
  /* line 369, ../sass/screen.scss */
  .competences-right > * {
    width: calc(33% - 0.6rem);
  }

  /* line 374, ../sass/screen.scss */
  .competences-group:nth-child(2) {
    margin-top: 6rem;
  }

  /* line 377, ../sass/screen.scss */
  .competences-group-box-competence strong {
    font-size: 1.8rem;
  }
}
/** Pour les ecrans de taille minimale 990px */
@media screen and (min-width: 990px) {
  /* line 383, ../sass/screen.scss */
  .main {
    padding-right: 8rem;
  }

  /* line 386, ../sass/screen.scss */
  .maincenter {
    flex-direction: row;
    gap: 1rem;
  }

  /* line 390, ../sass/screen.scss */
  .maincenter-right h1 {
    font-size: 8rem;
  }

  /* line 393, ../sass/screen.scss */
  .description {
    font-size: 1.8rem;
    margin-left: 1.5rem;
  }

  /* line 397, ../sass/screen.scss */
  .maincenter {
    width: 100%;
  }

  /* line 400, ../sass/screen.scss */
  .maincenter-left {
    width: calc(50% - 3rem);
  }
  /* line 402, ../sass/screen.scss */
  .maincenter-left img {
    margin-top: 6rem;
    width: 100%;
  }

  /* line 407, ../sass/screen.scss */
  .maincenter-right {
    width: 50%;
  }

  /* line 410, ../sass/screen.scss */
  .maincenter-left img {
    width: 100%;
  }

  /* line 413, ../sass/screen.scss */
  .medias-sociaux {
    justify-content: flex-start;
    margin-left: 1.5rem;
  }
}
/**/
@media screen and (min-width: 1200px) {
  /* line 421, ../sass/screen.scss */
  .competences-left .rocket {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 427, ../sass/screen.scss */
  .competences-left .rocket img {
    width: 100%;
  }

  /* line 432, ../sass/screen.scss */
  .competences-center {
    display: flex;
    gap: 1rem;
  }

  /* line 436, ../sass/screen.scss */
  .competences-left {
    width: 35%;
    flex-shrink: 0;
  }

  /* line 440, ../sass/screen.scss */
  .competences-right {
    width: calc(65% -1rem);
  }

  /* line 443, ../sass/screen.scss */
  .competences-group-box .competences-group-box-competence {
    height: 26rem;
  }
}
/** Pour les ecrans de taille minimale 1200px */
@media screen and (min-width: 1400px) {
  /* line 449, ../sass/screen.scss */
  main {
    width: 100%;
  }

  /* line 452, ../sass/screen.scss */
  .main,
  .competences {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 460, ../sass/screen.scss */
  .maincenter-left {
    width: calc(55% - 3rem);
  }
  /* line 462, ../sass/screen.scss */
  .maincenter-left img {
    margin-top: 0;
  }

  /* line 466, ../sass/screen.scss */
  .maincenter-right {
    width: 45%;
  }
  /* line 469, ../sass/screen.scss */
  .maincenter-right h1 {
    font-size: 10rem;
  }

  /* line 473, ../sass/screen.scss */
  .description {
    font-size: 2rem;
    text-align: justify;
    padding: 0;
  }

  /* line 478, ../sass/screen.scss */
  .medias-sociaux {
    font-size: 2.2rem;
  }
  /* line 480, ../sass/screen.scss */
  .medias-sociaux a {
    padding: 1rem;
    width: 4.2rem;
    height: 4.2rem;
  }
}
